docs/datasets/SampleDTD.dtd

<?xml version='1.0' encoding='UTF-8' ?>
<!ELEMENT dataset (TEST_TABLE*, SECOND_TABLE*, EMPTY_TABLE*)>

<!ELEMENT TEST_TABLE EMPTY>
<!ATTLIST TEST_TABLE
    COL0 CDATA #REQUIRED
    COL1 CDATA #IMPLIED
    COL2 CDATA #IMPLIED
>

<!ELEMENT SECOND_TABLE EMPTY>
<!ATTLIST SECOND_TABLE
    COL0 CDATA #REQUIRED
    COL1 CDATA #REQUIRED
>

<!ELEMENT EMPTY_TABLE EMPTY>
